focus {
   outline: none; 
} 
h2 {
   
   
   font-family: times;
   font-size: 30px;
   font-style: italic;
}

body {
   font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif; 
   
 }

.contact_form h2, .contact_form label {
   font-family: Georgia, Times, "Times New Roman", serif; 


}


.form_hint, .required_notification {
   font-size: 14px; 
} 

.contact_form ul {
   width: 750px; 
   list-style-type: none;
   list-style-position: outside;
   margin: 0px; padding: 0px;
}

.contact_form li {
   padding: 12px;
   border-bottom: 1px solid #eee;
   position: relative; 
   color:#0F0E26;;

} 

.contact_form li:first-child, .contact_form li:last-child {
   border-bottom: 1px solid #777;
} /* === Encabezado de la forma === */ 

.contact_form h2 {

   margin: 0;
   display: inline;
}

.required_notification {
   color: #d45252;
   margin: 5px 0 0 0;
   display: inline;
   float: right; } /* === Elementos de la forma === */ 

.contact_form label {
   width: 150px;
   margin-top: 3px;
   display: inline-block;
   float: left; padding: 3px;
   font-size: 18px;
   font-style: oblique;
   font-family: comic;


} 

.contact_form input {
   height: 20px;
   width: 220px;
   padding: 5px 8px;
}



.contact_form button {

   margin-left: 156px;
   
} /* Estilos visuales de los elementos de la forma */ 

.contact_form input, .contact_form textarea {
   border: 1px solid #979795;
   box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
   border-radius: 2px; padding-right: 30px; -moz-transition: padding   .25s; -webkit-transition: padding .25s; -o 
-transition: padding .25s;    transition: padding .25s; 
} 

.contact_form input:focus{
   background: #fff;
   border: 1px solid #555;
   box-shadow: 0 0 3px #aaa;
   padding-right: 70px; 
}

.contact_form input:required{
   background: #fff url(images/red_asterisk.png) no-repeat 98% center;
}

.contact_form input:required:valid{
   background: #fff url(images/valid.png) no-repeat 98% center;
   box-shadow: 0 0 5px #5cd053; border-color: #28921f;
}

.contact_form input:focus:invalid{
   background: #fff url(images/invalid.png) no-repeat 98% center;
   box-shadow: 0 0 5px #d45252;
   border-color: #b03535;
}

.form_hint {
   background: #d45252; border-radius: 3px 3px 3px 3px;
   color: white; margin-left: 8px;
   padding: 1px 6px; z-index: 999; position: absolute;
   display: none;
}

.form_hint::before { content: "\25C0";
   color: #d45252;
   position: absolute;
   top: 1px; left: -6px;
}
 
.contact_form input:focus + .form_hint { display: inline; } 

.contact_form input:required:valid + .form_hint { background: #28921f; }

.contact_form input:required:valid + .form_hint::before { color: #28921f; } 

button.submit,button.reset {
   font-size: 15px;
  
   background: -webkit-gradient(linear, left top, left bottom, from(#FB4242), to(white));

  
   border-radius: 10px;
   -webkit-border-radius: 4px;
   -o-box-shadow: 0 1px 0 0 #9fd574 inset; font-family: comic; font-size: 18px; color: black; font-weight: bold; padding: 10px 20px; text-align: center;
  
} 

button.submit:hover, button.reset:hover { opacity: .85; cursor: pointer; } 

button.submit:active, button.reset:active { 
   border: 1px solid black; box-shadow: 0 0 2px 2px #black inset;
   -webkit-box-shadow: 0 0 2px 2px #FF0A0A inset;

}
